$font-l :1.2em;
$font-m :1em;
$font-s :0.9em;
$font-xs :0.8em;

$gutter-xl :1.2em;
$gutter-l :1em;
$gutter-m :0.7em;
$gutter-s :0.3em;
$gutter-xs :0.2em;


.mfp_masonry_skin_card {
	.mfp_item_wrapper {
		display: flex;
		justify-content: space-between;
		border: 1px solid red;
	}

	.mfp_masonry_item { 
		margin-bottom: $gutter-xl;
		width: 100%;
		div {
			border: 1px solid rgba(0,0,0,0.1);
			box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.1);
			padding: 10px;
			
		}
		.mfp_thumb_pos_top,.mfp_thumb_pos_top2 {
			display: block;
			margin: -11px -11px 0 -11px ;
		}
		.mfp_thumb_pos_top2 {
			margin: 0 -11px 0 -11px ;
		}
		.mfp_thumb_pos_top, .mfp_thumb_pos_top2 {
			img {
				max-width: 100%;
				width: 100%!important;
				height: auto;
				margin-bottom: $gutter-l;
			}
		}
		.mfp_thumb_pos_left, .mfp_thumb_pos_left2 {
			img {
				float: left;
				margin-bottom: $gutter-l;
				margin-right: $gutter-l;
			}
		}
		.mfp_thumb_pos_right, .mfp_thumb_pos_right2  {
			img {
				float: right;
				margin-bottom: $gutter-l;
				margin-left: $gutter-l;
			}
		}
		.mfp_masonry_title {
			display: block;
			line-height: normal;
			margin: 0 0 $gutter-s 0;
			padding: 0;
			a {
				font-weight: 700!important;
				font-size: $font-m!important;
			}
		}
		.mfp_date,.mfp_author {
			font-size: $font-s;
			color: #666;
			display: inline;
		}
		.mfp_author {
			font-weight:700;
		}
		.mfp_cat {
			font-size: $font-s;
			display: block;
			text-transform: uppercase;
			a {
				font-weight: 700;
				color: #111;
			}
		}
		.mfp_masonry_introtext {
			font-size: $font-s;
			padding: 0;
			display: block;
			margin: $gutter-m 0 0 0;
		}
	}
	.mfp_masonry_more_articles {
		div {
			background: rgba(0,0,0,0.03);
			padding: $gutter-l $gutter-l $gutter-s $gutter-l;
			box-sizing: border-box;
		}
		
		h5 {
			margin: 0 0 $gutter-m 0;
			padding: 0;
			font-size: $font-s;
			text-transform: uppercase;
			letter-spacing: 1px;
			font-weight: 400;
		}
		ul {
			margin: 0;
			li{
				list-style: none;
				display: block;
				margin-bottom: $gutter-m;
				a {
					font-size: $font-s;
					font-weight: 700;
					display: block;
					padding: 0;
					margin: 0;
					line-height: normal;
				}
				span {
					font-size: $font-s;
				}
			}
		}
	}
}